<nav class="flex items-center justify-between px-6 py-4 nav-bg relative">
  <!-- Profile -->
  <div class="relative">
    <div
      class="profile flex items-center gap-4 p-3 rounded-2xl bg-transparent shadow-md cursor-pointer">
      <img
        class="profile-img w-14 h-14 rounded-xl border-2 border-pink-300 object-cover"
        src="<%= user.profilePic %>"
        alt="" />
      <h3 class="font-semibold text-lg"><%= user.name %></h3>
    </div>

    <!-- Dropdown -->
    <form
      class="full-info opacity-0 z-20 absolute mt-3 left-0 w-56 bg-white shadow-lg rounded-2xl p-5 flex flex-col items-center gap-3 transition-all duration-300 pointer-events-none"
      action="/user/edit/<%=user._id%>"
      enctype="multipart/form-data"
      method="post">
      <div class="edit w-full text-end cursor-pointer">✏️</div>
      <div class="img flex flex-col items-center gap-2 justify-center">
        <img
          class="w-16 h-16 rounded-xl border-2 border-pink-300 object-cover"
          src="<%= user.profilePic %>"
          alt="" />
        <input class="w-[76%] hidden text-sm" type="file" name="profilePic" />
      </div>

      <div class="w-full h-[2px] border-bg rounded-full"></div>

      <div class="flex flex-col items-center w-full">
        <span class="text-sm text-gray-500 flex items-center gap-1">
          Name
        </span>
        <input
          class="text-center input w-full nav-div rounded-lg py-1 text font-medium"
          type="text"
          name="name"
          disabled
          value="<%= user.name.toUpperCase() %>" />
      </div>

      <div class="flex flex-col items-center w-full">
        <span class="text-sm text-gray-500 flex items-center gap-1"> Bio </span>
        <input
          class="w-full text-center input nav-div rounded-lg py-1 text font-medium"
          type="text"
          value="<%= user.bio %>"
          name="bio"
          disabled />
      </div>
      <input
        class="update-btn hidden btn-bg cursor-pointer text-white py-2 px-6 rounded-xl shadow-mdhover:shadow-lg transition-all duration-200"
        type="submit"
        value="Update" />
    </form>
  </div>

  <!-- Hamburger -->
  <button id="menuBtn" class="md:hidden text-3xl">☰</button>

  <!-- Desktop Links -->
  <div class="hidden md:flex items-center gap-4">
    <a
      class="nav-div px-4 py-2 transition duration-300 ease-in-out font-semibold rounded-full"
      href="/home"
      >Home</a
    >
    <a
      class="nav-div px-4 py-2 transition duration-300 ease-in-out font-semibold rounded-full"
      href="/tasks"
      >Tasks</a
    >
    <a
      class="nav-div px-4 py-2 transition duration-300 ease-in-out font-semibold rounded-full"
      href="/timer"
      >Timer</a
    >
    <a
      class="nav-div px-4 py-2 transition duration-300 ease-in-out font-semibold rounded-full"
      href="/board"
      >Board</a
    >
    <a
      class="nav-div px-4 py-2 transition duration-300 ease-in-out font-semibold rounded-full"
      href="/notes"
      >Notes</a
    >
  </div>

  <!-- Desktop Themes -->
  <div class="hidden md:flex items-center gap-3">
    <div
      data-theme="pink"
      class="theme w-10 border border-white h-10 bg-[#F4ACB7] rounded-full cursor-pointer"></div>

    <div
      data-theme="brown"
      class="theme w-10 border border-white h-10 bg-[#D9B99B] rounded-full cursor-pointer"></div>

    <div
      data-theme="dark"
      class="theme w-10 border border-white h-10 bg-[#000000] rounded-full cursor-pointer"></div>
  </div>

  <!-- Dropdown (Mobile) -->
  <div
    id="menu"
    class="hidden z-10 flex flex-col items-center absolute right-4 top-16 w-56 py-4 rounded-xl bg-white shadow-[0_4px_20px_rgba(0,0,0,0.08)] transition-all duration-300">
    <a
      class="w-fit text-center py-1 px-10 rounded-xl hover-nav-div"
      href="/home"
      >Home
    </a>
    <div class="line h-[2px] w-[80%] border-bg mb-2"></div>
    <a
      class="w-fit text-center py-1 px-10 rounded-xl hover-nav-div"
      href="/tasks"
      >Tasks</a
    >
    <div class="line h-[2px] w-[80%] border-bg mb-2"></div>
    <a
      class="w-fit text-center py-1 px-10 rounded-xl hover-nav-div"
      href="/timer"
      >Timer</a
    >
    <div class="line h-[2px] w-[80%] border-bg mb-2"></div>
    <a
      class="w-fit text-center py-1 px-10 rounded-xl hover-nav-div"
      href="/board"
      >Board</a
    >
    <div class="line h-[2px] w-[80%] border-bg mb-2"></div>
    <a
      class="w-fit text-center py-1 px-10 rounded-xl hover-nav-div"
      href="/notes"
      >Notes</a
    >
    <div class="line h-[2px] w-[80%] border-bg mb-2"></div>

    <div class="flex items-center justify-center gap-2 pt-3">
      <div
        data-theme="pink"
        class="theme w-8 h-8 bg-[#F4ACB7] rounded-full cursor-pointer"></div>
      <div
        data-theme="brown"
        class="theme w-8 h-8 bg-[#D9B99B] rounded-full cursor-pointer"></div>
      <div
        data-theme="dark"
        class="theme w-8 h-8 bg-[#000000] rounded-full cursor-pointer"></div>
    </div>
  </div>
</nav>

<script>
  const btn = document.getElementById("menuBtn");
  const menu = document.getElementById("menu");
  const profile = document.querySelector(".profile");
  const info = document.querySelector(".full-info");
  const editBtn = document.querySelector(".full-info .edit");
  const updateBtn = document.querySelector(".update-btn");
  const fileInput = document.querySelector('input[name="profilePic"]');
  const nameInput = document.querySelector('input[name="name"]');
  const bioInput = document.querySelector('input[name="bio"]');

  btn.addEventListener("click", () => {
    menu.classList.toggle("hidden");
  });

  profile.addEventListener("click", () => {
    info.classList.toggle("opacity-0");
    info.classList.toggle("pointer-events-none");
  });

  editBtn.onclick = () => {
    fileInput.classList.remove("hidden");
    nameInput.disabled = false;
    bioInput.disabled = false;
    updateBtn.classList.remove("hidden");
  };

  // THEMES
  const themes = {
    pink: {
      "--nav": "#ffcfd8",
      "--nav-div": "#ffb4d6",
      "--nav-div-hover": "#ffe8f0",
      "--div-bg": "#ffcbdd",
      "--first-bg": "#ffe6f2",
      "--second-bg": "#ffd9ec",
      "--home-div": "#fecadc",
      "--text": "#fc82aa",
      "--border": "#f2a1c4",
      "--board": "#ffd7e3",
      "--check-box": "#fbcfe8",
      "--checked-check-box": "#ec4899",
      "--btn-bg": "#e18aaa",
    },

    brown: {
      "--nav": "#ddb892",
      "--nav-div": "#edc4b3",
      "--nav-div-hover": "#ffe8f0",
      "--div-bg": "#deab90",
      "--first-bg": "#e6ccb2",
      "--second-bg": "#ebd6c1",
      "--home-div": "#deab90",
      "--text": "#582f0e",
      "--border": "#582f0e",
      "--board": "#ffe9d7",
      "--check-box": "#f2cfb5",
      "--checked-check-box": "#582f0e",
      "--btn-bg": "#694e3c",
    },

    dark: {
      "--nav": "#000000",
      "--nav-div": "#262626",
      "--div-bg": "#323232",
      "--first-bg": "#151515",
      "--second-bg": "#111111",
      "--home-div": "#323232",
      "--text": "#ffffff",
      "--border": "#929292",
      "--board": "#515151",
      "--check-box": "#828282",
      "--checked-check-box": "#171717",
      "--btn-bg": "#464646",
    },
  };

  // APPLY THEME ON CLICK
  const themeBtns = document.querySelectorAll(".theme");

  themeBtns.forEach((btn) => {
    btn.addEventListener("click", () => {
      const themeName = btn.getAttribute("data-theme");
      const selectedTheme = themes[themeName];

      for (let key in selectedTheme) {
        document.documentElement.style.setProperty(key, selectedTheme[key]);
      }

      // Save theme
      localStorage.setItem("theme", themeName);
    });
  });

  // LOAD SAVED THEME ON PAGE LOAD
  const savedTheme = localStorage.getItem("theme");

  if (savedTheme && themes[savedTheme]) {
    const selectedTheme = themes[savedTheme];

    for (let key in selectedTheme) {
      document.documentElement.style.setProperty(key, selectedTheme[key]);
    }
  }
</script>
