<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notes</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <%- include("partials/navbar") %>

    <main
      class="min-h-[81vh] flex flex-col items-center gap-10 first-bg sm:p-6 p-2">
      <!-- Upload Section -->
      <div class="btn w-full flex items-center justify-end gap-3">
        <!-- Upload Button -->
        <button
          id="uploadBtn"
          class="flex justify-center items-center w-14 h-14 div-bg rounded-full">
          <img class="w-7" src="/images/plus.png" alt="" />
        </button>

        <!-- Upload Form -->
        <form
          id="uploadForm"
          action="/upload-note"
          method="POST"
          enctype="multipart/form-data"
          class="flex items-center gap-3">
          <input
            type="text"
            name="name"
            placeholder="Enter note name"
            class="p-2 rounded-md text-black"
            required />

          <input type="file" name="note" id="noteInput" class="hidden" />
        </form>
      </div>

      <!-- Notes Table -->
      <table
        id="fileTable"
        class="border-collapse border border-gray-400 rounded-md w-full">
        <tr>
          <th class="border border-gray-400 p-2">File</th>
          <th class="border border-gray-400 p-2">Name</th>
          <th class="border border-gray-400 p-2">Date</th>
        </tr>

        <% notes.forEach((note, idx) => { %>
        <tr>
          <td class="border border-gray-400 sm:px-2 px-0 py-2 text-center">
            <a class="" href="/<%=note.filePath%>" target="_blank">
              <img src="/images/file.png" class="sm:w-6 w-5 object-contain" />
            </a>
            <img
              src="/images/delete.png"
              id="<%= note._id %>"
              class="sm:w-4 w-3 cursor-pointer transition-all duration-500 ease-in-out object-contain opacity-0 delete" />
          </td>

          <td class="border border-gray-400 sm:px-2 px-0 py-2 text-center">
            <a href="/<%=note.filePath%>" target="_blank" class="font-lg">
              <%= note.name %>
            </a>
          </td>

          <td class="border border-gray-400 sm:px-2 px-0 py-2 text-center">
            <%= note.createdAt.toLocaleDateString() %>
          </td>
        </tr>
        <% }) %>
      </table>
    </main>

    <%- include("partials/footer") %>

    <script>
      const uploadBtn = document.getElementById("uploadBtn");
      const noteInput = document.getElementById("noteInput");
      const uploadForm = document.getElementById("uploadForm");
      const icons = document.querySelectorAll(".icons");
      const deletes = document.querySelectorAll(".delete");

      uploadBtn.addEventListener("click", () => noteInput.click());

      noteInput.addEventListener("change", () => {
        if (noteInput.files.length > 0) {
          uploadForm.submit();
        }
      });

      icons.forEach((i, idx) => {
        i.addEventListener("mouseenter", () => {
          deletes[idx].classList.remove("opacity-0");
        });
        i.addEventListener("mouseleave", () => {
          deletes[idx].classList.add("opacity-0");
        });
      });

      deletes.forEach((del) => {
        del.addEventListener("click", async (e) => {
          let id = e.target.id;
          await fetch(`/notes-delete/${id}`, { method: "POST" });
          location.reload();
        });
      });
    </script>
  </body>
</html>
